*.md
!CHANGELOG.md
!README.md
!/lib
.bowerrc
.dockerignore
.github
.markdownlint.yaml
.npmrc
.releaserc.js
.sass-lint.yml
.travis.yml
.vscode
/docs
/e2e
/spec
/src
/test
/tests
CODEOWNERS
lerna.json
logs
mocha.opts
package-lock.json
run
sonar-project.properties
yarn.lock
